<template>
<transition name="transition-router-fade" appear>
<div id="home-view">
<v-content>
    <v-container fluid>
        <v-layout>
            <v-flex v-for="(item, index) in items" :key="`item-${index}`" sm6 md4>
                <v-card ripple :to="item.href" class="elevation-5">
                    <v-card-title primary-title class="card-title"><v-icon>{{ item.icon }}</v-icon></v-card-title>
                    <v-card-text class="text-center">{{ item.text }}</v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-content>
</div>
</transition>
</template>

<script>
export default {
    name: 'home-view',
    components: {},
    mounted() {

    },
    data() { return {
        items: [
            { text: 'Music Library', href: '/music_library', icon: 'fas fa-headphones-alt' }
        ]
    }}
}
</script>

<style scoped>
    .card-title { justify-content: center; }
    .card-title .v-icon { font-size: 48px; }
</style>
