<template>
<transition name="transition-router-fade" appear>
<div id="music-library-view">
<v-content>
    <v-tabs-items v-model="this.$parent.$refs['header-view'].tabs.model">
        <v-tab-item v-for="item in this.$parent.$refs['header-view'].tabs.items" :key="item.title">
            <component :music="music.items" :is="item.component" />
        </v-tab-item>
      </v-tabs-items>
</v-content>
</div>
</transition>
</template>

<script>
import Songs from './MusicLibraryPage/Songs'
import Playlists from './MusicLibraryPage/Playlists'

export default {
    name: 'music-library-view',
    components: { Songs, Playlists },
    beforeDestroy() {
        this.$parent.$refs['header-view'].tabs.items = [];
    },
    mounted() {
        this.$parent.$refs['header-view'].tabs.items = [
            { title: 'songs', component: 'songs' },
            { title: 'playlists', component: 'playlists' }
        ];
    },
    data() { return {
        music: {
            items: this.$root.$children[0].music.items
        }
    }}
}
</script>

<style scoped>

</style>
