<template>
<transition name="transition-router-fade" appear>
<div id="settings-view">
<v-content>
    <v-container fluid>
        <v-card>
            <v-layout row wrap v-if="settings.items.length" class="pa-0">
                <v-flex xs12 v-for="(item, index) in settings.items" :key="`settings-${index}`" class="pa-2">
                    <v-divider v-if="index > 0" class="my-1" />
                    <v-layout row wrap>
                        <v-flex grow>
                            <p class="subheading font-weight-medium">{{ item.title }}</p>
                            <p class="body-1 font-weight-light font-italic mb-0" v-html="item.desc"></p>
                            <div v-if="item.action.type=='complex' && item.action.template=='tmp-music-directories'" class="mt-2">
                                <v-list v-if="item.value.length > 0" dense>
                                    <template v-for="(directory, i) in item.value">
                                        <v-divider v-if="i !== 0" />
                                        <v-list-tile>
                                            <v-list-tile-content>{{ directory }}</v-list-tile-content>
                                        </v-list-tile>
                                    </template>
                                </v-list>
                                <v-btn class="ml-0">Add</v-btn>
                                <v-btn class="mr-0">Refresh</v-btn>
                            </div>
                        </v-flex>
                        <v-flex shrink>
                            <v-switch v-if="item.action.type=='switch'" v-model="item.value" false-value="dark" true-value="light" @change="item.action.change(item.value)"></v-switch>
                            <v-btn v-if="item.action.type=='button'">{{ item.value }}</v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-card>
    </v-container>
</v-content>
</div>
</transition>
</template>

<script>
export default {
    name: 'settings-view',
    components: {},
    mounted() {

    },
    data() { return {
        settings: {
            items: [
                {
                    title: 'Theme',
                    desc: 'Toggle the application\'s theme: (dark | light)',
                    value: this.$root.$children[0].theme,
                    action: { type: 'switch', change: this.switchTheme }
                },
                {
                    title: 'Music Directories',
                    desc: 'List of directories containing music. You must click <code>Refresh</code> after updating this list to apply the changes.',
                    value: this.$root.$children[0].music_directories,
                    action: { type: 'complex', template: 'tmp-music-directories', change: this.updateMusicDirectories }
                }
            ]
        }
    }},
    methods: {
        switchTheme(value) {
            this.$root.$children[0].theme = value;
        },
        updateMusicDirectories() {

        },
        refreshMusic() {

        }
    }
}
</script>

<style scoped>
    .combo-list {
        width: 100%;
    }
</style>
