<template>
<transition name="transition-router-fade" appear>
<div id="err-404-view">
    <v-content>
        <section>
            <v-container>
                <div class="page-header"><h1>404</h1></div>
                <h3><strong>NOT FOUND</strong></h3>
                <p>Sorry, but the page you are looking for was either moved, removed, renamed or simply does not exist.</p>
                <br/>
                <router-link to="/"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp;&nbsp;Home</router-link>
            </v-container>
        </section>
    </v-content>
</div>
</transition>
</template>

<script>

export default {
    name: 'err-404-view',
    mounted() {

    }
}
</script>

<style scoped>
main {
    border-top: 4px solid #f44336;
    /*background: url('../../assets/404.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    color: #f5f5f5;*/
}

.page-header { border-bottom: 1px solid; }
</style>
