<template>
    <div id="route-error-view">
        <router-view></router-view>
    </div>
</template>

<script>
    import Route from './Route'

    export default {
        name: 'route-error-view',
        extends: Route,
        components: { }
    }
</script>

<style>

</style>
