<template>
    <div id="route-primary-view">
        <header-view ref="header-view"></header-view>
        <router-view></router-view>
        <footer-view class="display-none"></footer-view>
    </div>
</template>

<script>
    import Route from './Route'
    import HeaderView from '@/components/Header.vue'
    import FooterView from '@/components/Footer.vue'

    export default {
        name: 'route-primary-view',
        extends: Route,
        components: { HeaderView, FooterView }
    }
</script>

<style scoped>

</style>
