<template>
    <div id="route-view">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'route-view',
    components: { },
    beforeRouteEnter(to, from, next) {
        next(() => {
            //
        });
    }
}
</script>

<style>

</style>
