<template>
<transition name="transition-router-fade" appear>
<div id="music-library-playlists">
    <v-container fluid>
        <!-- <div v-if="playlists.items.length == 0" class="text-center">no results...</div> -->
        <div class="text-center">Coming Soon ...</div>
    </v-container>
</div>
</transition>
</template>

<script>
export default {
    name: 'music-library-playlists',
    components: {},
    props: {
        music: Array
    },
    mounted() {

    },
    data() { return {

    }}
}
</script>
