<template>
<transition name="transition-router-fade" appear>
<div id="music-library-songs">
    <v-container fluid>
        <div v-if="music.length == 0" class="text-center">no results...</div>
        <v-list two-line v-if="music.length > 0" class="pa-0">
            <v-list-tile avatar ripple @click.stop="playAudioFile(0, true)">
                <v-list-tile-avatar><v-icon>fas fa-random</v-icon></v-list-tile-avatar>
                <v-list-tile-content class="text-uppercase">Shuffle All</v-list-tile-content>
            </v-list-tile>
            <v-divider />
            <v-list-tile avatar v-for="(item, index) in music" :key="`song-${index}`" @click.stop="playAudioFile(index, false)" ripple :class="{'vuetify-no-hover': isMobile()}">
                <v-list-tile-avatar>
                    <v-img :src="getMusicArtURI(item)" />
                </v-list-tile-avatar>
                <!-- <v-list-tile-avatar>
                    <v-icon>fas fa-headphones-alt</v-icon>
                </v-list-tile-avatar> -->
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item.artist + ' &#x2022; ' + formatTime(item.duration) }}</v-list-tile-sub-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-container>
</div>
</transition>
</template>

<script>
export default {
    name: 'music-library-songs',
    components: {},
    props: {
        music: { type: Array, default: new Array() },
    },
    mounted() {

    },
    data() { return {
        images: {
            'logo-dark_64x64': require('@/assets/logo-dark_64x64.png'),
            'logo-light_64x64': require('@/assets/logo-light_64x64.png'),
        }
    }},
    methods: {
        playAudioFile(index, shuffle) {
            this.$root.$emit('PLAY_MUSIC', { music: this.music, index, shuffle });
        },
        getMusicArtURI(music_item) {
            return music_item.picture ? music_item.picture : (this.$vuetify.dark ? this.images['logo-dark_64x64'] : this.images['logo-light_64x64']);
        },
        formatTime(seconds) {
            var sec = Math.floor(seconds % 60);
            var min = Math.floor(seconds / 60);

            sec = ("0"+sec).substr(-2);
            return `${min}:${sec}`;
        },
        isMobile() {
            return process.env.CORDOVA_PLATFORM !== undefined;
        }
    }
}
</script>
