<template>
<div id="backtotop-component">
    <button id="btn-backtotop" :class="{'isVisible': isVisible}" @click="backtotop">
        <span>⤒</span>
    </button>
</div>
</template>

<script>
import anime from 'animejs/lib/anime.es.js';

export default {
    name: 'backtotop-component',
    data() { return {
        isVisible: false,
        previousScrollTop: document.documentElement.scrollTop || document.scrollingElement.scrollTop || window.pageYOffset
    }},
    mounted() {
        var _self = this;
        window.addEventListener('scroll', function() {
            var st = document.documentElement.scrollTop || document.scrollingElement.scrollTop || window.pageYOffset;
            _self.isVisible = (st < this.previousScrollTop) && st > 250;
            this.previousScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling
        });
    },
    methods: {
        backtotop() {
            anime({
                targets: (document.documentElement || document.scrollingElement),
                scrollTop: 0,
                duration: 400,
                easing: 'easeInOutQuad'
            })
        }
    }
}
</script>

<style scoped>

#btn-backtotop {
    border-radius: 50%;
    background-color: #fff;
    color: #444;
    position: fixed;
    width: 45px;
    height: 45px;
    display: block;
    right: 15px;
    bottom: 85px;
    text-align: center;
    font-size: 32px;
    border: none;
    outline: none;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    box-shadow: 1px 2px 16px 0px rgba( 0, 0, 0, .16 ), 1px 2px 5px 0px rgba( 0, 0, 0, .12 );
}
#btn-backtotop.isVisible:hover {
    opacity: 1;
    background-color: #444;
    color: #fff;
}
#btn-backtotop.isVisible {
    opacity: .5;
    z-index: 10000;
}
#btn-backtotop>span { vertical-align: middle; }

</style>
