<template>
<div id="footer-component">
    <footer>
        <div class="footer-copyright">
            <v-container class="text-right"><i class="fa fa-copyright" aria-hidden="true"></i>TenaciousDan - ALL RIGHTS RESERVED</v-container>
        </div>
    </footer>
</div>
</template>

<script>

export default {
    name: 'footer-component',
    components: { },
    data() {
        return {

        }
    },
    methods: {

    }
}
</script>

<style scoped>
    footer { padding-top: 0; }
    footer .footer-copyright { font-size: 12px; }
</style>
