<template>
<div id="header-component">
    <header>
        <v-toolbar app fixed tabs :clipped-left="toolbar.clippedLeft">
            <v-toolbar-side-icon @click.stop="sidedrawer.model = !sidedrawer.model"></v-toolbar-side-icon>
            <v-toolbar-title v-html="getAppBarTitleHTML()"></v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-btn icon class="icon"><v-icon>fas fa-search</v-icon></v-btn> -->
            <template v-if="tabs.items.length > 0" v-slot:extension>
                <v-tabs v-model="tabs.model" color="transparent">
                    <v-tabs-slider></v-tabs-slider>
                    <v-tab v-for="item in tabs.items" :key="item.index">{{ item.title }}</v-tab>
                </v-tabs>
            </template>
        </v-toolbar>

        <v-navigation-drawer app v-model="sidedrawer.model" :width="sidedrawer.width" fixed :temporary="sidedrawer.temporary" :mini-variant="sidedrawer.minimized" :mobile-break-point="sidedrawer.mobileBreakPoint">
            <v-list class="pa-1">
                <v-list-tile v-if="sidedrawer.minimized" @click.stop="sidedrawer.minimized = !sidedrawer.minimized">
                    <v-list-tile-action><v-icon>fas fa-chevron-right</v-icon></v-list-tile-action>
                </v-list-tile>

                <v-list-tile avatar v-if="!sidedrawer.minimized">
                    <v-list-tile-avatar class="sidedrawer-logo"><v-img :src="getSideDrawerImgSrc()" /></v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title><span class="text-uppercase"><span class="font-weight-bold">Tenacious</span><span class="font-weight-light">Media</span></span></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action class="sidedrawer-action-minimize">
                        <v-btn icon ripple @click.stop="sidedrawer.minimized = !sidedrawer.minimized"><v-icon>fas fa-chevron-left</v-icon></v-btn>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="pt-0" dense>
                <v-list-tile
                v-for="(item, index) in sidedrawer.items" :key="`sidedrawer_items-${index}`" :to="item.href"
                active-class="primary--text" :class="{ 'primary--text': item.href === $route.path || item.alias === $route.path }"
                >
                    <v-list-tile-action><v-icon>{{ item.icon }}</v-icon></v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </header>
</div>
</template>

<script>
export default {
    name: 'header-component',
    components: {  },
    created() {
        // TODO: implement AboutPage.vue
        // if (!process.env.IS_ELECTRON)
        //     this.sidedrawer.items.push({ title: 'About', icon: 'fas fa-question', href: '/about' });
    },
    mounted() {

    },
    data() { return {
        toolbar: {
            clippedLeft: this.isMobileLayout()
        },
        sidedrawer: {
            model: null,
            minimized: false,
            width: 250,
            mobileBreakPoint: this.$vuetify.breakpoint.thresholds.sm,
            temporary: this.isMobileLayout(),
            items: [
                { title: 'Home', icon: 'fas fa-home', href: '/home', alias: '/'},
                { title: 'Music', icon: 'fas fa-music', href: '/music_library' },
                { title: 'Settings', icon: 'fas fa-cog', href: '/settings' }
            ]
        },
        tabs: {
            model: null,
            items: []
        }
    }},
    methods: {
        getSideDrawerImgSrc() {
            return this.$vuetify.dark ? require('@/assets/logo-dark-icon.png') : require('@/assets/logo-light-icon.png');
        },
        getAppBarTitleHTML() {
            var curr_route = this.$router.currentRoute.name;
            if(curr_route == '' || curr_route == 'home') {
                return this.sidedrawer.minimized || !this.sidedrawer.model
                ? '<span class="text-uppercase"><span class="font-weight-bold">Tenacious</span><span class="font-weight-light">Media</span></span>'
                : '';
            }
            else
                return '<span class="text-capitalize">' + curr_route + '</span>';
        },
        isMobileLayout() {
            return  process.env.CORDOVA_PLATFORM !== undefined || this.$vuetify.breakpoint.smAndDown;
        }
    }
}
</script>

<style lang="scss" scoped>
.v-navigation-drawer { padding-bottom: 64px; }

.theme--dark.v-navigation-drawer { background-color: #212121; }

.sidedrawer-logo, .sidedrawer-action-minimize { margin-left: -11px; }
</style>
