<template>
<div id="media-player-component" :class="{ minimized: media_player.minimized, visible: media_player.visible }">
    <v-card ripple tile class="media-player-info elevation-5" @click="media_player.minimized = media_player.minimized ? false : true" v-touch="{ up: playerHandleSwipeUp, down: playerHandleSwipeDown }">
        <v-list>
            <v-list-tile avatar>
                <v-list-tile-avatar>
                    <v-img :src="getMusicArtURI()" />
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title v-html="getCurrentMusic() ? getCurrentMusic().title : '???'"></v-list-tile-title>
                    <v-list-tile-sub-title v-html="getMusicArtistAndAlbum()"></v-list-tile-sub-title>
                </v-list-tile-content>

                <v-spacer></v-spacer>

                <v-list-tile-action>
                    <v-btn v-if="media_player.minimized" @mousedown.stop @touchstart.stop @click.stop="playBtnClick" icon>
                        <v-icon v-html="media_player.isPlaying ? 'fas fa-pause-circle' : 'fas fa-play-circle'"></v-icon>
                    </v-btn>
                    <!-- <v-btn v-if="!media_player.minimized" @mousedown.stop @touchstart.stop @click.stop="" icon>
                        <v-icon>fas fa-ellipsis-v</v-icon>
                    </v-btn> -->
                </v-list-tile-action>
            </v-list-tile>
        </v-list>
    </v-card>
    <div class="media-player-bg">
        <v-img class="image" :src="getMusicArtURI()" />
        <canvas ref="media-player-visualizer" />
    </div>
    <v-card tile class="media-player-controls">
        <v-slider
            hide-details v-model="slider.model" step="0.1" height="3" class="slider my-0" ref="media-controls-slider"
            @change="sliderChange" @start="sliderStart" @end="sliderEnd" @touchstart="sliderMouseDown" @mousedown="sliderMouseDown"
        />
        <div class="time">
            <div class="passed" v-html="formatTime(media_player.seekTime)"></div>
            <div class="total" v-html="getCurrentMusic() ? formatTime(getCurrentMusic().duration) : '0:00'"></div>
        </div>
        <v-list class="pt-3">
            <v-list-tile>
                <!-- <v-list-tile-action>
                    <v-btn icon><v-icon>fas fa-thumbs-up</v-icon></v-btn>
                </v-list-tile-action> -->

                <v-list-tile-content class="media-player-controls-center">
                    <div class="text-center">
                        <v-btn @click.stop="skip(true)" icon><v-icon>fas fa-step-backward</v-icon></v-btn>

                        <v-btn @click.stop="playBtnClick" icon>
                            <v-icon v-html="media_player.isPlaying ? 'fas fa-pause-circle' : 'fas fa-play-circle'"></v-icon>
                        </v-btn>

                        <v-btn @click.stop="skip()" icon><v-icon>fas fa-step-forward</v-icon></v-btn>
                    </div>
                </v-list-tile-content>

                <!-- <v-list-tile-action>
                    <v-btn icon><v-icon>fas fa-thumbs-down</v-icon></v-btn>
                </v-list-tile-action> -->
            </v-list-tile>
        </v-list>
    </v-card>
</div>
</template>

<script>
import ToolBox from '@/js/toolbox'

export default {
    name: 'media-player-component',
    components: {},
    props: {
        repeat: { type: Boolean, default: false },
        repeatOne: { type: Boolean, default: false }
    },
    mounted() {
        this.animationFrames[0] = window.requestAnimationFrame(this.audioVisualizerUpdate);

        this.$root.$on('PLAY_MUSIC', (data) => {
            if (this.getCurrentMusic()) {
                this.getCurrentMusic().audio.pause();
                this.getCurrentMusic().audio.currentTime = 0;
            }

            // detach events on previous items
            for (var j in this.media_player.media.items) {
                this.media_player.media.items[j].audio.removeEventListener('play', this.audioEventPlay);
                this.media_player.media.items[j].audio.removeEventListener('pause', this.audioEventPlay);
                this.media_player.media.items[j].audio.removeEventListener('ended', this.audioEventPlay);
            }

            var current_index = data.index || 0;
            var sequence = [];
            for (var i = 0; i < data.music.length; i++) {
                sequence.push({ id: i });
            }
            if (data.shuffle) {
                current_index = 0;
                this.media_player.sequence = ToolBox.shuffle(sequence);
            }
            else
                this.media_player.sequence = sequence;

            var music_queue = Array.isArray(data.music) ? data.music : [data.music];
            for (var k in music_queue) {
                music_queue[k].audio.addEventListener('play', this.audioEventPlay);
                music_queue[k].audio.addEventListener('pause', this.audioEventPause);
                music_queue[k].audio.addEventListener('ended', this.audioEventEnded);
            }

            this.media_player.media.items = music_queue;
            this.media_player.visible = true;
            this.media_player.current = current_index;
            this.play();
        });
        this.intervals[0] = setInterval(this.seekTimeIntervalUpdate, 100);
    },
    data() { return {
        intervals: [],
        animationFrames: [],
        images: {
            'logo-dark': require('@/assets/logo-dark.png'),
            'logo-light': require('@/assets/logo-light.png')
        },
        slider: {
            model: 0,
            isActive: false
        },
        media_player: {
            visible: false,
            minimized: true,
            isPlaying: false,
            seekTime: 0,
            sequence: [],
            current: 0,
            media: {
                items: [],
                repeat: false,
                repeatOne: false
            },
            visualizer: {
                analyser: null,
                context: null,
                source: null
            }
        }
    }},
    methods: {
        seekTimeIntervalUpdate() {
            if (this.getCurrentMusic()){
                var time = this.getCurrentMusic().audio.currentTime;
                if (!isNaN(time)) {
                    this.media_player.seekTime = time;
                    if (!this.slider.isActive)
                        this.slider.model = (Math.floor(time*10)/10) / (Math.floor(this.getCurrentMusic().duration*10)/10) * 100;
                }
            }
        },
        audioVisualizerUpdate() {
            this.animationFrames[0] = window.requestAnimationFrame(this.audioVisualizerUpdate); // request another frame
            if (process.env.CORDOVA_PLATFORM == undefined) {
                var canvas = this.$refs['media-player-visualizer'];
                var canvas_context = canvas.getContext('2d');
                var btd_array = new Uint8Array(this.media_player.visualizer.analyser.frequencyBinCount);
                this.media_player.visualizer.analyser.getByteFrequencyData(btd_array);
                canvas_context.clearRect(0, 0, canvas.width, canvas.height);
                canvas_context.fillStyle = 'rgba(255, 255, 255, 0.5)';

                var alpha = 0.5;
                var bar_width = 5;
                var numBars = canvas.width / (bar_width + 1);
                for (var i = 0; i < numBars; i++) {
                    var bar_x = i * (bar_width + 1);
                    var bar_height = -(btd_array[i] * 0.5);

                    var r = (((-bar_height) / canvas.height) * 255) + 33;
                    var g = (((-bar_height) / canvas.height) * 255) + 33;
                    var b = (((-bar_height) / canvas.height) * 255) + 33;
                    canvas_context.fillStyle = "rgba(" + r + "," + g + "," + b + "," + alpha + ")";

                    canvas_context.fillRect(bar_x, canvas.height, bar_width, bar_height);
                }
            }
        },

        sliderChange(progress) {
            var current_music = this.getCurrentMusic();
            var time = current_music.duration * (progress/100);
            if (current_music) current_music.audio.currentTime = time;
            this.media_player.seekTime = time;
        },
        sliderMouseDown(event) { this.$refs['media-controls-slider'].onThumbMouseDown(event); },
        sliderStart(/*progress*/) { this.slider.isActive = true; },
        sliderEnd(/*progress*/) { this.slider.isActive = false; },

        playerHandleSwipeUp() { this.media_player.minimized = false; },
        playerHandleSwipeDown() { this.media_player.minimized = true; },
        playBtnClick() {
            if (this.media_player.media.items.length > 0) {
                var current_music = this.getCurrentMusic();
                if (current_music) {
                    if (!this.media_player.isPlaying)
                        this.play();
                    else
                        this.pause();
                }
            }
        },

        /* audio event listeners */
        audioEventPlay() { this.media_player.isPlaying = true; },
        audioEventPause() { this.media_player.isPlaying = false; },
        audioEventEnded() {
            this.media_player.isPlaying = false;
            var atEnd = this.media_player.current >= (this.media_player.sequence.length-1);

            if (!this.media_player.media.repeatOne) {
                if (atEnd) {
                    this.media_player.current = 0;
                }
                else
                    this.media_player.current++;
            }

            if ((atEnd && this.media_player.media.repeat) || (atEnd && this.media_player.media.repeatOne) ||
                (atEnd && !this.media_player.media.repeatOne && this.media_player.media.repeat) || !atEnd)
                this.play();
        },
        /* end - audio event listeners */

        getCurrentMusic() {
            return this.media_player.sequence[this.media_player.current] ? this.media_player.media.items[this.media_player.sequence[this.media_player.current].id] : undefined;
        },
        play() {
            this.getCurrentMusic().audio.play();
            if (process.env.CORDOVA_PLATFORM == undefined)
            {
                this.media_player.visualizer = this.getCurrentMusic().visualizer;
                this.media_player.visualizer.source.connect(this.media_player.visualizer.analyser);
                this.media_player.visualizer.analyser.connect(this.media_player.visualizer.context.destination);
            }
        },
        pause() {
            this.getCurrentMusic().audio.pause();
        },
        skip(backward) {
            this.getCurrentMusic().audio.pause();
            this.getCurrentMusic().audio.currentTime = 0;
            if (backward) {
                var atStart = this.media_player.current <= 0;
                var atStartOfSong = this.media_player.seekTime <= 3;
                if (!atStart && atStartOfSong)
                    this.media_player.current--;
                else if (!atStart && !atStartOfSong)
                    this.getCurrentMusic().audio.currentTime = 0;
            }
            else {
                var atEnd = this.media_player.current >= (this.media_player.sequence.length-1);
                if (atEnd)
                    this.media_player.current = 0;
                else
                    this.media_player.current++;
            }
            this.play();
        },
        getMusicArtistAndAlbum() {
            var artistAndAlbum = '';
            var current_music = this.getCurrentMusic();
            if (current_music) {
                artistAndAlbum += current_music.artist.toLowerCase() !== 'unknown' ? current_music.artist : '';
                artistAndAlbum += current_music.album.toLowerCase() !== 'unknown' ? ' - ' + current_music.album : '';
            }
            return artistAndAlbum === '' ? 'Unknown' : artistAndAlbum;
        },

        getMusicArtURI() {
            var pic = this.getCurrentMusic() ? this.getCurrentMusic().picture : undefined;
            return pic ? pic : (this.$vuetify.dark ? this.images['logo-dark'] : this.images['logo-light']);
        },
        formatTime(seconds) {
            var sec = Math.floor(seconds % 60);
            var min = Math.floor(seconds / 60);

            sec = ("0"+sec).substr(-2);
            return `${min}:${sec}`;
        }
    },
    beforeDestroy() {
        for (var k in this.intervals)
            clearInterval(this.intervals[k]);

        for (var k2 in this.animationFrames)
            window.cancelAnimationFrame(this.animationFrames[k2]);
    }
}
</script>

<style scoped>

.v-list.theme--dark, .v-input--slider.theme--dark {
    background-color: #212121;
}
#media-player-component { background-color: #fafafa; }
.theme--dark #media-player-component { background-color: #303030; }

#media-player-component {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    display: none;

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#media-player-component.visible {
    display: block;
    height: 100%;
}
#media-player-component.visible.minimized {
	height: 64px;
}

.media-player-info, .media-player-controls { opacity: 0.8; }
.media-player-info, .media-player-controls, .media-player-bg {
    position: absolute;
    width: 100%;
    left: 0;
}
.media-player-info {
    top: 0;
    z-index: 2;
}
.media-player-bg {
    height: 100%;
    z-index: 0;
    top: 0;
}
.minimized .media-player-bg { display: none; }
.media-player-bg .image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.media-player-bg canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.media-player-controls {
    bottom: 0;
    z-index: 1;
}
.minimized .media-player-controls { display: none; }
.media-player-controls-center { align-items: center; }
.media-player-controls .time { position: absolute; top: 4px; width: 100%; }
.media-player-controls .time .passed { position: absolute; left: 15px; }
.media-player-controls .time .total { position: absolute; right: 15px; }
</style>
