/* --- HELPERS --- */
.cursor-pointer {
	cursor: pointer;
}
/* --- END - HELPERS --- */

/* --- TEXT --- */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
/* --- END - TEXT --- */

/* --- FONT --- */
.font-weight-bold { font-weight: 500 !important; }
.font-weight-light { font-weight: 300 !important; }
/* --- END - FONT --- */

/* --- DISPLAY --- */
.display-none { display: none !important; }
/* --- END - DISPLAY --- */

/* --- SELECTION --- */
::selection { background-color: #212121; color: #fff; }
::-moz-selection { background-color: #212121; color: #fff; }
/* --- END - SELECTION --- */

/* --- MEDIA --- */
@media all {
	.page-break	{ display: none; }

	.media-print-only { display: none !important; }
}

@media print {
	.page-break	{ display: block; page-break-after: always; }

	.media-print-only { display: block !important; }
	.media-print-hidden { display: none !important; }

	a[href]:after { content: none; }
	a[href].media-print-show-url:after { content: " (" attr(href) ")"; }
}
/* --- END MEDIA --- */
