
/* fix: color, font-size and line-height of icons */
.v-icon { color: inherit !important; }
[class^="display-"] .v-icon, [class*=" display-"] .v-icon { font-size: inherit; }
.display-1 .v-icon { line-height: 40px; }
.display-2 .v-icon { line-height: 48px; }
.display-3 .v-icon { line-height: 1.35; }
.display-4 .v-icon { line-height: 1; }
