<template>
<v-app id="app" :dark="theme == 'dark'" :light="theme == 'light'">
    <back-to-top class="media-print-hidden" />
    <router-view />
    <media-player />
</v-app>
</template>

<script>
import Core from '@/js/core.js'

import BackToTop from '@/components/BackToTop.vue'
import MediaPlayer from '@/components/MediaPlayer.vue'

export default {
    name: 'app',
    components: { BackToTop, MediaPlayer },
    created() {
        this.music_directories = this.loadMusicDirectories();
        Core.scanForAudioFiles(this.music_directories, this.audioFileCallback);
    },
    methods: {
        audioFileCallback(data) {
            this.music.items.push(data);
        },
        loadMusicDirectories() {
            if (process.env.CORDOVA_PLATFORM !== undefined) {
                // console.log(cordova.file); // list native directories
                return [
                    window.cordova.file.externalRootDirectory + 'Download/'
                ];
            }
            else if (process.env.IS_ELECTRON) {
                var exeDir = require('electron').remote.app.getPath('exe').replace(/\\/g,"/");
                exeDir = exeDir.substring(0, exeDir.lastIndexOf('/')+1);
                exeDir = 'A:/xampp/htdocs/media/MyMedia/Media/Music/Misc/test/'; // test
                return [
                    exeDir
                ];
            }
        }
    },
    data() { return {
        theme: 'dark',
        music_directories: [],
        music: {
            items: []
        }
    }}
}
</script>

<style lang="scss">
/*** general ***/
html, body {
    overflow: hidden;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #263238;
}

#app {
    /* favour 'Roboto' over 'Segoe UI' in the font stack */
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

main { padding: 15px 0px; }

#app { background-color: #fafafa; }
#app.theme--dark { background-color: #303030; }

.v-list.theme--dark {
    background-color: #212121;
}

.vuetify-no-hover a:hover {
    background: inherit !important;
}

main.v-content {
    position: fixed;
    height: 100%;
    width: 100%;
}
main.v-content > .v-content__wrap {
    overflow: auto;
    padding-bottom: 64px;
}
/*** general - end ***/


/*** scrollbars ***/
::-webkit-scrollbar {
	width: 10px;
    height: 10px;
	background-color: #fafafa;
}
/*
body::-webkit-scrollbar-button {
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-color: #fafafa;
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    height: 12px;
}
body::-webkit-scrollbar-button:vertical:decrement {
    border-top: 1px solid #fafafa;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAlklEQVQ4jc2SwQ2CQBBFHxtjAXYwvworMB4wlGAHxiY4E0sxXozFQB9e4LJrUBmC4YD/Npl5P7N/J2tpmaMwi/4Lg5XXkKkEBBzrpn56c9lQiDJVwDmWd6DwTL4MZLoAp4851+QtAwcG2ANXmdbuBiNwXw/g0N8kRLiaAAPsgJtMr/DTE/IJcNIW2KRi8Bd+0fKXuLxBB85KJzZy79MSAAAAAElFTkSuQmCC");
}
body::-webkit-scrollbar-button:vertical:increment {
    border-bottom: 1px solid #fafafa;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkElEQVQ4jc2SsQqDMBRFj5IP0eCPlA4uLp38RicXwR/p/PIDHUoHKaUQFxMMNFVx0LvlwTnkviSxWPYk3UWfQqAAdK57oFjJvICrGHl6AfDeILgDH3dwFWqgWwlfxMjgBol7Rp1rBbRAtQA/5kO/RDHyBW6Rm/yEA8EfSRQOKswz1WmADChjcFSwJcf/xOMFI4RLNCRE34s5AAAAAElFTkSuQmCC");
}
body::-webkit-scrollbar-button:horizontal:decrement {
    border-right: 1px solid #fafafa;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAgklEQVQ4jaXTMRJAQAyF4Z9RGLeQi6gUGvdUuI7KZC9gFC5Ao0zI8uq8b3Zns8XJyZ9UbwPSSgVMQKNJhyzgLs/ACKzWTBksuzGBaNkEcsreCaZo2QMkWvaAHlg+A5p0A7ooYr5CDuLuQRRxAQM5rJki8pmklQaoNen+CXjK4xUiuQArhioe+oAbWQAAAABJRU5ErkJggg==");
}
body::-webkit-scrollbar-button:horizontal:increment {
    border-left: 1px solid #fafafa;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAhklEQVQ4ja3TsQ2DMBCF4R/EIj6ReRghK1CwQioK9mGALBHJLJAyRQokU0RuEPjMOa980vuKk64KBEpS7wtx8hInoxkAWmAQJ5MViOlzkBSQhWiAiuQAEXmUAPA7rhmYgbsVmIHOL/5rAZJjDVDHAM1B9wGeOeMz4Aa8/eJXbQxQ/f0br2YDy7UmtiY2PG8AAAAASUVORK5CYII=");
}
*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
    border-left: 1px solid #fafafa;
    border-right: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #212121;
}
/*** scrollbars - end ***/


/*** router transitions ***/
.transition-router-fade-enter-active {
    transition: opacity .5s
}
.transition-router-fade-enter {
    opacity: 0
}
.transition-router-fade-leave-active {
    display: none;
}
.transition-fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.transition-fade-enter, .transition-fade-leave-to {
    opacity: 0
}
/*** router transitions - end ***/
</style>
